.btn{
    border-radius: 5px;
    background-color:rgb(36, 97, 211);
    color: white;
    border: none;
    padding-left: 20px;
    padding-right: 23px;
    padding-top: 8px  ;
    padding-bottom: 8px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s, font-size 0.2s;
}

.btn:hover{
    background-color: rgb(10, 59, 150);
    transform: scale(1.05);
}

.plus{
    font-size: 30px;
    font-weight: bold;
    vertical-align: middle;
    color: slategray;
}

#head-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.table-container{
    text-align: center;
    background-color: rgb(231, 231, 231);
    border-radius: 5px;
    padding: 1%;
}



.large{
    font-size: 24px;
    font-weight: bold;
}

#imageBoite{
    width: 100px;

}

#container{
    width: 80%;
    position: relative;
    top: 100px;
    left: 10%;
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
    padding: 1%;
}
