.btn,.btn-ajouter,.btn-annuler{
    border-radius: 5px;
    background-color:rgb(36, 97, 211);
    color: white;
    border: none;
    padding-left: 20px;
    padding-right: 23px;
    padding-top: 8px  ;
    padding-bottom: 8px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s, font-size 0.2s;
}

.btn-annuler{
    background-color: #a7a5a5;
}

.btn:hover{
    background-color: rgb(10, 59, 150);
    transform: scale(1.05);
}

.plus{
    font-size: 30px;
    font-weight: bold;
    vertical-align: middle;
    color: slategray;
}

#head-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.none-container{
    text-align: center;
    background-color: rgb(231, 231, 231);
    border-radius: 5px;
    padding: 1%;
}



.large{
    font-size: 24px;
    font-weight: bold;
}

#imageBoite{
    width: 100px;

}

#container{
    width: 80%;
    position: relative;
    top: 100px;
    left: 10%;
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
    padding: 1%;
}

#modal{
    position: fixed;
    top: 25%;
    left: 35%;
    width: 30%;
    height: 52%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px grey;
    padding: 1%;
    z-index: 1000;
    display: none;
}

.text-box{
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;

    font-size: 16px;
}

.modal-header{
    display: flex;
    justify-content: space-between;

}

.btn-ajouter{
    float: right;
}
#close-modal{
    cursor: pointer;
}
#overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.table td {
    border: 1px solid black;
    
}
.table {
    border-collapse: collapse;
    width: 100%;
}
.table th {
    background-color: #000000;
    color: white;
    padding: 8px;
}

.table_btn{
    margin: 0 5px;
    width: 60px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    color: white;
    cursor: pointer;
}

.edit{
    background-color: darkseagreen;
}
.delete{
    background-color: rgb(209, 0, 0);
}
.td-nom{
    width: 50%;
}

#confirmModal{
    display: none;
    width: 30%;
    height: 25%;
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
    position: fixed;
    top: 30%;
    left: auto;
    border-radius: 6px;
    box-shadow: 20px 15px 30px gray;
}

.nonBtn{
    background-color: #a7a5a5;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 8px 15px;
    font-weight: bold;
    cursor: pointer;
    float: right;
    margin-left: 10px;
}
.ouiBtn{
    background-color: rgb(209, 0, 0);
    border-radius: 5px;
    color: white;
    border: none;
    padding: 8px 15px;
    font-weight: bold;
    cursor: pointer;
    float: right;
}